---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=bef3a42a&app_key=76ecc3b48bea7f32233ece111d215763&from=0&q=238089vj02&to=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "238089vj02",
          "from" : 0,
          "to" : 100,
          "params" : {
            "sane" : [ ],
            "to" : [ "100" ],
            "q" : [ "238089vj02" ],
            "app_id" : [ "bef3a42a" ],
            "app_key" : [ "76ecc3b48bea7f32233ece111d215763" ],
            "from" : [ "0" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Fri, 04 Nov 2016 15:58:24 GMT
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=bef3a42a&app_key=76ecc3b48bea7f32233ece111d215763&from=0&q=89v90832l&to=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "q" : "89v90832l",
          "from" : 0,
          "to" : 100,
          "params" : {
            "sane" : [ ],
            "to" : [ "100" ],
            "q" : [ "89v90832l" ],
            "app_id" : [ "bef3a42a" ],
            "app_key" : [ "76ecc3b48bea7f32233ece111d215763" ],
            "from" : [ "0" ]
          },
          "more" : false,
          "count" : 0,
          "hits" : [ ]
        }
  recorded_at: Fri, 04 Nov 2016 17:06:55 GMT
recorded_with: VCR 3.0.3
