<ul class="row small-up-2 medium-up-3 large-up-5" data-equalizer >
    <% @my_query.length.times do |x|  %>
  <li class="column recipe" data-equalizer-watch>
    <!-- Truncate helps to keep things looking uniform, despite some labels being very long-->
    <h6><%= truncate(@my_query[x].lable, :length => 25, :separator => ' ') %></h6>
    <%= image_tag(@my_query[x].image, :alt => "recipe image") %>
    <!-- ToDo: need to search by URL, not lable as lable is not unique  -->
    <%= link_to "Full Recipe Details", recipe_show_path(@my_query[x].id) %>
  </li>
  <% end %>
</ul>

<div id="nav-buttons">
  <%= paginate @my_query %>
</div>
