<h3>Welcome:</h3>

<%= form_tag recipe_search_path, method: "get" do %>
  <%= label_tag :query, "Search For:" %>
  <%= text_field_tag :query %>
  <%= submit_tag "Submit Search", class: "Button" %>
<% end %>
